<h1 style="text-align: center; font-size: 80px">
  DISATTIVAZIONE_ARMAMENTO_ORDIGNI
</h1>
<div
  [ngStyle]="{
    border:
      remaining == 3
        ? '3px solid green '
        : remaining == 2
        ? '3px solid yellow '
        : remaining == 1
        ? '3px solid red '
        : null
  }"
>
  <input
    placeholder="INSERICI IL CODICE DI ATTIVAZIONE"
    style="
      width: 400px;
      height: 100px;
      font-family: 'Courier New', Courier, monospace;
    "
    [formControl]="deactivationCode"
  />
  <button
    type="button"
    style="
      margin-left: 20px;
      height: 109px;
      width: 150px;
      font-family: 'Courier New', Courier, monospace;
    "
    (click)="confirmCode()"
    [disabled]="deactivationCode.value == ''"
  >
    CONFERMA
  </button>
  <br />
  <span
    [ngStyle]="{
      color:
        remaining == 3
          ? 'green '
          : remaining == 2
          ? 'yellow '
          : remaining == 1
          ? 'red '
          : 'black'
    }"
    style="font-size: 80px"
    >{{ remaining }}_TENTATIVI_RIMASTI</span
  >
</div>
